*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: inherit;
}

div {
    display: block;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    background-color: #f4f4f4;
}

/******* 
header
*******/
.tab-header {
    width: 100%;
    height: 70px;
    display: table;
}

.tab-top{
    display: flex;
}

.tab-collapse {
    display: none;
}

.icon {
    display: flex;
}

/******* 
main
*******/
.main-page{ }

.menu-detail {
    min-height: 640px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main-top {
    width: 1200px;
    height: 204px;
    text-align: center;
    margin: auto;
}

.main-top-text {
    padding-top: 59px;
    padding-bottom: 29px;
}

.main-top-footer {
    padding-bottom: 60px;
}

.main-info-detail {
    width: 100%;
    height: 661px;
    border: 1px solid #ddd;
    padding: 40px;
    position: relative;
}

.pizza-slidebox {
    display: inline-block;
    width: 570px;
    height: 475px;
    margin-top: 50px;
    margin-right: 30px;
    background: #ddd;
}

/******* 
slidebox / carousel
*******/
#slidebox-layout {
  width: 570px;
  height: 475px;
  overflow: hidden;
  
  /* 글자 드래그 막기 */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

#slidebox-list {
  display: flex;
  width: fit-content;
}

.slidebox-list-transition {
  transition: 0.6s ease-out;
}

.slidebox-item {
  width: 570px;
  text-align: center;
}

/*********************/

.pizza-item-info {
    display: inline-block;
    width: 510px;
    text-align: center;
    position: absolute;
    top: 40px;
}

.pizza-item-name {
    font-family: Bold;
    font-size: 28px;
    color: #222;
    margin-bottom: 12px;
}

.pizza-item-eng-name {
    font-size: 16px;
    color: #999;
    margin-bottom: 12px;
}

.pizza-item-price {
    font-family: Bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.pizza-item-price .blue {
    color: #41b6e6;
}

.pizza-item-price .black {
    color: #333;
    margin-right: 10px;
}

.review-table {
    margin-top: 20px;    
}

th {
    font-size: 22px;
    width: 400px; 
}

tr {
    border: 1px 0 10 0 0 #999;
    min-height: 300px;
}