*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: inherit;
}

div {
    display: block;
}

body {
    min-height: 100%;
    margin: 0;
    position: relative;
    background-color: #f4f4f4;
}

/******* 
header
*******/
.tab-header {
    width: 100%;
    height: 70px;
    display: table;
}

.tab-top{
    display: flex;
}

.tab-collapse {
    display: none;
}

.icon {
    display: flex;
}

/******* 
main
*******/
.main-page{
    width: 1200px;
    background-color: #f4f4f4;
    padding-top: 30px;
    margin: auto;
}

.main-top {
    width: 1200px;
    height: 204px;
    text-align: center;
    margin: auto;
}

.main-top-text {
    padding-top: 59px;
    padding-bottom: 29px;
}

.main-top-footer {
    padding-bottom: 60px;
}

.main-info-detail {
    width: 100%;
    height: 661px;
    border: 1px solid #ddd;
    padding: 40px;
    position: relative;
}

table {
    justify-content: space-between;
}